:root {
  --color-black: #000000;
  --color-primary: #ffc600;
  --color-warn: #ea4c12;
  --color-grey: #a8a8a8;
  --color-white: #ffffff;
  --color-purple: #9b59b6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: Roboto, Arial, sans-serif;
  background: var(--color-primary);
}

.elm {
  height: 44px;
  padding: 1rem;
  border-radius: 5px;
  outline: none;
  border: 0;
}

button.elm {
  background: var(--color-purple);
  color: var(--color-white);
  cursor: pointer;
}

#todo-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
  grid-gap: 10px;
}

.form__input {
  max-width: 513px;
  font-variant-ligatures: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 92%;
}

.todo-list__container {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 580px;
  background: var(--color-white);
  flex-wrap: nowrap;
  border-radius: 5px 0 5px 5px;
  box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.4);
}

.todo__list-ul {
  list-style: none;
}

input[type='checkbox']:checked + label.todo__description {
  text-decoration: line-through;
  background: rgb(237 237 237);
}

.todo__task-li,
.todo__list-ul {
  width: 100%;
}

.todo__task-li {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  min-height: 60px;
}

.todo__task-li:not(:last-child) {
  border-bottom: 1px solid var(--color-grey);
}

.todo__checkbox {
  margin: 1rem;
}

.todo__description {
  width: 100%;
  border-left: 1px solid var(--color-grey);
  border-right: 1px solid var(--color-grey);
  line-height: 60px;
  padding: 0 20px;
  white-space: nowrap;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
}

.delete_btn {
  color: var(--color-warn);
  margin: 0 10px;
  cursor: pointer;
}

@media (max-width: 19rem) {
  .form__input,
  button.elm {
    width: 100%;
  }
  .todo-list__container {
    width: 86%;
  }
}

@media (min-width: 19rem) and (max-width: 38.125rem) {
  .todo-list__container {
    width: 86%;
  }
  button.elm {
    width: 92%;
    max-width: 513px;
  }
}
